# Unity generated folders
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Mm]emoryCaptures/
**/[U]serSettings/

# Visual Studio / VS Code
**/.vs/
**/*.suo
**/*.csproj
**/*.unityproj
**/*.sln
**/*.tmp
**/*.user
**/*.userprefs
**/*.pidb
**/*.booproj
**/*.svd
**/*.pdb
**/*.mdb
**/*.opendb
**/*.cfs